/* ////////////////   LANDING    //////////////*/

.landing {
  position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     width: 100%;
      height: 70%;
    /*   top: 0; */
    /*   left: 0; */
    /*   bottom: 0; */
    /*   right: 0; */
       overflow: hidden;
     /*  overflow: visible; */
      /* border: #0056b3 2px solid; */
      background-color: #ffffff52;
 /*  margin-top: 17%;  */
     }

     #landing_contenedor{
/* height: 50%; */
     }
     .landing_overlay {
    /*    display: flex; */
    /*    flex-direction: row; */
  /*     /*  justify-content: center; */ 
  /*     /*  align-items: center; */ 
     
  /*    margin: 0; */
  /*    padding: 0; */
     /* background-image: url('/img/casa3.jpg'); */
     /* z-index: -1; */
  /*      background-color: #333333; */
       /* border: #0056b3 2px solid; */
     }
     .landing_text {
      /*  width: 100%; */
       height: 50%;
     /*   margin: 0; */
     /*   padding: 0; */
      /*  display: flex; */
      /*  flex-direction: column; */
      /*  justify-content: center; */
      /*  align-items: center; */
      /*   */
     }
     .tex_top {
     /*   */
     /*  display: flex; */
     /*  flex-direction: column; */
     /*  margin: 2rem; */
 /*     padding: 3rem; */
   /*   margin-top: 85%; */
   /*   z-index: 1; */
    /*   padding: rem; */
      /*  perspective: 1000px;  *//* Controla la profundidad de la perspectiva */
     }
     #tex_top-container h1{
    /*   margin-top: 27%; */
  /*     width: 100%; */
  /*     z-index: 444444; */
/*   margin: 10%; */
  /* padding: 5rem; */

     }
     .tex_top_image {
     /*   display: flex; */
     /*   flex-direction: row; */
      /*  justify-content: right; */
      /*  align-items: center; */
      /*  overflow: hidden; */
      /*  border: #ffffff 2px solid; */
     /*   width: 200px; */
    /*    z-index: 0; */
     }
    .tex_top_image img{
   /*    width: 400px; */
   /*    height: 200px; */
     }
     .tex_top >div{
     
     
     }
     
     /* Ejemplo de un efecto 3D al pasar el ratón por encima */
     .tex_top img:hover {
       /* transform: scale(1.05) rotateY(10deg); */ /* Ajusta el efecto de 3D según sea necesario */
     }
     
     .tex_top {
   /*    text-align: left; */
     /*   display: flex; */
     /*   flex-direction: column; */
     /*   justify-content: center; */
     /*   align-items: center; */
      
      /*  margin: .9rem; */
      /*  padding: 1.9rem; */
      /*  background-color:  #007bff; */
  /*      height: 100vh; */
      /*  text-align: center; */
       overflow: hidden; 
       
     }
    
     #tex_top-text{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      padding-bottom: 5%;
      width: 100%;
      height: 50vh;
      background-color:  #007bff;
     }
     #tex_top-ima{
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items:center;
      /* padding-top: 5%; */
      width: 100%;
     /*  height: 50vh; */
      background-color:  #007bff6d;
      overflow-y: hidden;
     }
     .tex_top-ima img{
      overflow: hidden;
     /*  display: flex; */
     /*  flex-direction: column; */
      justify-content: center;
      align-items: center;
     }

     .tex_top h1 {
       font-size: 4.1rem;
       color:#fff;
       margin: 1.2rem;
       padding: 1.9rem;
      
       
     }
     .landing  {
       font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Open Sans', 'Helvetica Neue', sans-serif;'
      /*  font-size: small; */
       /* margin: .7rem; */
     }
     
     
     
     .tex_top span {
       display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
       font-size: 1.1rem;
       color:#000000;
     
       overflow: hidden;
     }
     #tex_top-ima img{
    /*   display: flex; */
    /*    border: #3de1f0 2px solid; */
      /*  border-radius: 19px; */
    /*    margin: 2.2rem; */
    /*    padding: 4.2rem; */
      width: 100px;
      height: 100px;
      overflow-y: hidden;
     }
     
     .tex_btn {
    display: flex;
    flex-direction: column;
   /*  justify-content: center; */
   /*  align-items: center; */
    
       /* background-color: hsl(141, 71%, 48%)	; */
       height: 100%;
       margin: 0;
       padding: .9rem;
     
     /*   margin: 2.2rem; */
     
   
    /*   margin-top: 30%; */
     /*  margin-bottom: 5rem; */
     background-color:  #333;
   /*  background-color: #ffffff; */
      /* background-color: #2eb11f; */
     /*  text-align: center; */
      /* overflow: visible; */
      
      /* border: #333 1px solid; */
     
      
     }
     .tex_btn h3  {
      font-weight: lighter;
      text-align:start;
      font-size:1.5rem;
      line-height: 1.8rem;
      margin: 1.3rem;

    padding: .9rem;
    padding-top: 3rem;

     /*  line-height: 1.9rem; */
      color: #ffffff;
     }
     .tex_btn h3 span {
      font-weight: bold;
      font-size:1.4rem;
      font-style: italic;
      color: #48bd67;
     }
     .tex_btn h4 {
      font-weight: lighter;
      line-height: 1.6rem;
     /*  text-align: left; */
      
      /* border: #333 1px solid; */
      /*   */
      /*  background-color: #2eb11f; */
      /*  opacity: 0; */
       color: #ffffff;
      /* color:#2eb11f; */
    font-size:1.5rem;
   /*  margin: .8rem; */
   margin: 5%;
    margin-top: 15%;
    padding: .7rem;
   /*  margin-top: 5%; */
    /* padding-top:5% ; */
}
    
.hero-logos>.hero-logo-redes {
 
  display: none;

}
.hero-logos:hover>.hero-logo-redes {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 gap: 2rem;
 margin: .6rem;
 padding-top: .5rem;
/*  border: #275767 4px solid; */
  
}
.tex_btn-text {
  border: 2px solid transparent; /* Sin borde por defecto */
  padding: 10px;
  transition: border 0.3s ease-in-out; /* Transición suave */
}

.btn-outline-info:hover ~ .tex_btn-text{
  border: 2px solid #275767; /* Si .a está después de .b, esto funcionaría */
}
.hero-logos:hover ~ #tex_btn-container--text{
 
}





     .tex_btn .hero-logos {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*  margin-top: 2.5rem; */
    gap: .5rem;
     }
     .tex_btn .hero-logos button {
      display: block;
/*      margin: .7rem; */
     width: 270px;
     font-size: 1.1rem;
     font-weight: bolder;
     padding: .4rem;
     align-content: end;
    /*  margin-top: 12%; */
  
     }
     /* .tex_btn.hero-logos.hero-logo-redes */.hero-logo-instagram{
     /*  display: none; */
    

     }
     .hero-logos.hero-logo-redes/* .hero-logo-instagram, */
    /* .hero-logo-linkedin  */{

   
}
     #tex_btn-container {
 
     }
            
   
    
    
    
    
     
     @media (max-width: 768px) {
       .tex_top h1{
         font-size: 3.1rem;
        /*  margin: 1.9rem; */
         /* margin-left: 50%; */
         
        }
   
        .tex_top img {
         border: #3de1f0 2px solid;
         border-radius: 19px;
         margin: .4rem;
         padding: .3rem;
         width: 50px;
         height: 50px;
      /*     */
       }
       .tex_btn h4 {
      /*   margin: 2.9rem; */
       }
   
     }
     @media (min-width: 769px) {
       .landing {
       /*   display: flex; */
       /*   flex-direction: row; */
       /*   justify-content: center; */
        /*  align-items:end ; */
        /*  height: 100vh; */
      /*     */
     
     
     
       /* border: #0056b3 2px solid; */
       }
       .landing_overlay {
       margin: 0;
       padding: 0;
       
       
       }
       .landing-text {
            
       /*    display: flex; */
       /*    flex-direction: row; */
       /*    justify-content: center; */
       /*    align-items: center; */
            overflow: hidden;
          /*  overflow: visible; */
       }
       .tex_top {
   /*       text-align: center; */
         /*  */
         display: grid;
         grid-template-columns: 70% 30%;
         justify-content: center;
         align-items: center;
          /*  display: flex; */
         /*  flex-direction: row; */
     /*     border: #000000 2px solid; */
       }
       .tex_top h1{
         /* text-align: left; */
        font-size: 6.9rem;
        margin: 0rem;
        padding: 0rem;
        font-weight: bolder;
        /* overflow: hidden; */
       /* s */
     /*   overflow: visible; */
       }
      #tex_top-container__img {
     /*   display: flex; */
     /*   flex-direction: row; */
      /*  align-items: center; */
      /*  justify-content: center; */
     /*   width: 60%; */
      /*  height: 30%; */
      }
       .tex_top span {
        /*  overflow: visible; */
        
       }
       .tex_top img {
         border: #3de1f0 2px solid;
         border-radius: 19px;
         margin: .5rem;
         padding: .5rem;
       /*   width: 20%; */
       /*   height: 50%; */
         
       }
      
      
       .tex_btn {
        /* border: #221d6f 2px solid; */
        /*  z-index: 111; */
        display: flex;
        flex-direction: row;
       /*  display: grid; */
       /*  grid-template-columns:  60% 40%; */
         padding:  .9rem;
      /*    margin: 1.2rem; */
        /* padding: 2.3rem; */
        /* background-color: #2eb11f; */
       /*  overflow-x: visible;  */
       /*  z-index: 333333; */
       }
       .tex_btn >.hero-logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 15%;
        /* display: grid; */
        /* grid-template-columns:  60% 40%; */
     /*    border: #275767 4px solid; */
       
       /*  border: #221d6f 2px solid; */
       }
       #tex_btn-container {
     /*    overflow-y: hidden; */
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content:center;
        gap: 6rem;
       

       /*  border: #c41a04 2px solid; */
        padding: 4%;
        margin: 3%;

        /* margin: 2rem; */
      /*   padding: 4rem; */
       }
       
       .tex_btn h3{
        /* height: 100%; */
        text-align: right ;
        margin: 0;
        padding: 0;
        margin-top: 5%;
        line-height: 3rem;
        font-size: 3.2rem;
       /*  margin-left: 15%; */
       /*  margin-right: 15%; */
       }
       .tex_btn h3 span {
        font-size: 2.1rem;
       }
       .tex_btn h4 {
        margin: 0;
        font-size: 1.2rem;
        text-align: right;
        /*  opacity: 0; */
         /* font-size: larger; */
         /* background-color: #2eb11f; */
       }
     }
   
   