/* ////////////////   LANDING    //////////////*/

.landing {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   /*   width: 100%; */
      height: 100%;
       overflow: hidden;
      /* overflow: visible; */
      /* border: #0056b3 2px solid; */
      /* margin-top: 80%; */
     }
     .landing_overlay {
       display: flex;
       flex-direction: row;
  /*     /*  justify-content: center; */ 
  /*     /*  align-items: center; */ 
     
     margin: 0;
     padding: 0;
     /* background-image: url('/img/casa3.jpg'); */
     /* z-index: -1; */
  /*      background-color: #333333; */
       /* border: #0056b3 2px solid; */
     }
     .landing_text {
      /*  width: 100%; */
       height: 100%;
      /*  margin: 0; */
      /*  padding: 0; */
      /*  display: flex; */
      /*  flex-direction: column; */
      /*  justify-content: center; */
      /*  align-items: center; */
      /*   */
     }
     .tex_top {
     /*   */
      display: flex;
      flex-direction: column;
     /*  margin: 2rem; */
     margin-top: 85%;
     z-index: 1;
    /*   padding: rem; */
      /*  perspective: 1000px;  *//* Controla la profundidad de la perspectiva */
     }
     #tex_top-container h1{
    /*   margin-top: 27%; */
  /*     width: 100%; */
      z-index: 444444;

     }
     #tex_top-container__img {
       display: flex;
       flex-direction: row;
       justify-content: right;
       align-items: center;
       overflow: hidden;
    /*    border: #ffffff 2px solid; */
     /*   width: 200px; */
    /*    z-index: 0; */
     }
    .tex_top_image img{
   /*    width: 400px; */
   /*    height: 200px; */
     }
     .tex_top >div{
     
     
     }
     
     /* Ejemplo de un efecto 3D al pasar el ratón por encima */
     .tex_top img:hover {
       /* transform: scale(1.05) rotateY(10deg); */ /* Ajusta el efecto de 3D según sea necesario */
     }
     
     .tex_top {
   /*    text-align: left; */
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
      
      /*  margin: .9rem; */
       padding: .9rem;
       background-color:  #007bff;
     /*   height: 100vh; */
      /*  text-align: center; */
      /*  overflow: hidden; */
       
     }
     .tex_top h1 {
       font-size: 3.4rem;
       color:#fff;
       
     }
     .landing  {
       font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Open Sans', 'Helvetica Neue', sans-serif;'
      /*  font-size: small; */
       /* margin: .7rem; */
     }
     
     
     
     .tex_top span {
       display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
       font-size: 1.1rem;
       color:#000000;
     
       overflow: hidden;
     }
     .tex_top img {
      display: flex;
       border: #3de1f0 2px solid;
       border-radius: 19px;
    /*    margin: 2.2rem; */
    /*    padding: 4.2rem; */
    /*   width: 400px; */
    /*   height: 300%; */
      overflow: hidden;
     }
     
     .tex_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
       background-color: hsl(141, 71%, 48%)	;
      /*  height: 100%; */
     
      /*  margin: 1.2rem; */
   
    /*   margin-top: 30%; */
     /*  margin-bottom: 5rem; */
      padding: .2rem;
      /* background-color: #2eb11f; */
     /*  text-align: center; */
      /* overflow: visible; */
      
      /* border: #333 1px solid; */
     
      
     }
     .tex_btn h4 {
      text-align: center;
     
      /*   */
      /*  background-color: #2eb11f; */
      /*  opacity: 0; */
       color: #ffffff;
    font-size:1.6rem;
    padding: .2rem;
    margin-top: 5%;
    padding-top:5% ;
}
    
.hero-logos>.hero-logo-redes {
 
  display: none;

}
.hero-logos:hover>.hero-logo-redes {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 gap: 2rem;
 margin: .6rem;
 padding-top: .5rem;
 
  
}






     .tex_btn .hero-logos {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    gap: .5rem;
     }
     .tex_btn .hero-logos button {
      display: block;
     margin: .7rem;
     width: 330px;
     font-size: 1.1rem;
     font-weight: bolder;
     padding: .4rem;
    /*  margin-top: 15%; */
  
     }
     /* .tex_btn.hero-logos.hero-logo-redes */.hero-logo-instagram{
     /*  display: none; */
    

     }
     .hero-logos.hero-logo-redes/* .hero-logo-instagram, */
    /* .hero-logo-linkedin  */{

   
}
     #tex_btn-container {
 
     }
            
   
    
    
    
    
     
     @media (max-width: 768px) {
       .tex_top h1{
        /*  font-size: 2.1rem; */
        /*  margin: 1.9rem; */
         /* margin-left: 50%; */
         
        }
   
        .tex_top img {
         border: #3de1f0 2px solid;
         border-radius: 19px;
         margin: .4rem;
         padding: .3rem;
         width: 50px;
         height: 50px;
      /*     */
       }
       .tex_btn h4 {
      /*   margin: 2.9rem; */
       }
   
     }
     @media (min-width: 769px) {
       .landing {
       /*   display: flex; */
       /*   flex-direction: row; */
       /*   justify-content: center; */
        /*  align-items:end ; */
        /*  height: 100vh; */
      /*     */
     
     
     
       /* border: #0056b3 2px solid; */
       }
       .landing_overlay {
       margin: 0;
       padding: 0;
       
       
       }
       .landing-text {
            
       /*    display: flex; */
       /*    flex-direction: row; */
       /*    justify-content: center; */
       /*    align-items: center; */
            overflow: hidden;
          /*  overflow: visible; */
       }
       .tex_top {
         text-align: left;
         /*  */
        /*  display: grid; */
        /*  grid-template-columns: 70% 30%; */
         /* justify-content: center; */
     /*     align-items: center; */
          /*  display: flex; */
         /*  flex-direction: row; */
       }
       .tex_top h1{
         /* text-align: left; */
        font-size: 3.6rem;
       /*  margin: .9rem; */
        padding: .7rem;
        /* overflow: hidden; */
       /* s */
     /*   overflow: visible; */
       }
      #tex_top-container__img {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
     /*   width: 60%; */
      /*  height: 30%; */
      }
       .tex_top span {
        /*  overflow: visible; */
        
       }
       .tex_top img {
         border: #3de1f0 2px solid;
         border-radius: 19px;
         margin: .5rem;
         padding: .5rem;
       /*   width: 20%; */
       /*   height: 50%; */
         
       }
      
      
       .tex_btn {
        /*  z-index: 111; */
       
         padding:  .9rem;
         margin: 1.2rem;
        /* padding: 2.3rem; */
        /* background-color: #2eb11f; */
        overflow-x: visible; 
       /*  z-index: 333333; */
       }
       #tex_btn-container {
        
       }
       
       
       .tex_btn h4 {
        /*  opacity: 0; */
         font-size: larger;
         /* background-color: #2eb11f; */
       }
     }
   
   