* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
/* overflow: hidden; */
overflow-x: hidden;

}

body {
  font-family: 'Inter', sans-serif;
}

  

  .background-container {
   /*  overflow: hidden; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background-position: bottom center; */
    z-index: -1;
   /*  transition: transform 1s ease-out; */
   /* filter: blur(9px); */
  
  
   
}
  .zoom-out {
/*     animation: zoomOut 28s ease-in-out alternate;
 */  /*   transform: scale(1.1); */
    transition: transform 1s ease-out;
    overflow: hidden;
   
  }








  
.background-container img {
    width: 100%;
    height: 100%;
    /* animation: zoomOut 28s ease-in-out; */
   /*  margin-top: -45%; */
   /* filter : 'grayscale(0.9) blur(0.5px)';  */
   
}
@media (min-width: 768px) {
  .background-container img {
    margin-top: 0;
    

  }
}

@keyframes zoomOut {
  0% {
   /*  filter: contrast(120%) brightness(180%); */
   filter: grayscale(90%);
   /*  filter: sepia(300%); */
    /* filter: saturate(600%); */
    transition: transform 4s ease-in;
    top:  0;
    left:  0;
   /*  transition: transform 18s  *//* ease-in */;
    transform: scale(1.3);
   
  }
  25% {
    
 
    transform: scale(1); 
    /*   opacity: .75; */
   /*  min-height: 170%; */
    transition: transform 1s ease-out;
   left:    -.2%;
    top:  1%;
    filter: sepia(600%);
    /* filter: contrast(120%) brightness(180%); */
  
  }
  50% {
    top:  -2%;
    left:    5%;
    transform: scale(1.2);
      transition: transform 4s ease-in;
     /*  filter: contrast(135%) brightness(103%); */
      filter: saturate(300%);
      
  }
70% {
   
    transform: scale(1.3);
    left:    -9%;
    top:  4%;
  /* top:    -8rem; */
 
 
}
75% {
  filter: saturate(100%);
  filter: invert(100%);
  transform: scale(1.2);
}
85% {
  filter: invert(0%);
}
100% {
    
    top:  0;
    left:  0;
    transform: scale(1);
 /*  transform: scale(1.3); */
 transition: transform 5s ease-out;

/*  filter: contrast(155%) brightness(130%); */
/*  filter: saturate(300%); */
/*  filter: sepia(100%); */
}
}






  /* //////   TRANSCRIPTIONS   ///////  */


  .transcriptions-container {
    position: relative;
    background-color: #f8f9fa;
    text-align: center;
   /*  margin: 100px auto; */
  /*   max-width: 800px; */
    padding: 2rem;
  /*   margin-top: 20%; */
  
    z-index: 1;
    height: 100%;
    
  
  }
  .transcriptions-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .transcriptions-container button:hover {
    background-color: #0056b3;
  }
  .transcriptions-container h1 {
     overflow: hidden;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .transcriptions-container h4 {
   
    font-size: 1.1rem;
    line-height: 1.5;
    margin: .6rem;
    padding: .8rem;
  }

  @media (min-width: 769px) {
    .transcriptions-container {
      
    }
    .transcriptions-container h1 {
      overflow: hidden;
     font-size: 2.9rem;
    /*  margin: 14%; */
     padding: 1.4rem;
     margin-bottom: 20px;
   }
   .transcriptions-container h4 {
 
    font-size: 1.7rem;
    margin: 6.9rem;
   padding: 1.4rem;
    line-height: 2.5;
  }
  }
/* Estilos para Cartas */






.cartas {
 width: 100%;
 overflow: hidden;
 margin-top: 10%;
 }
 .productos1 {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly  ;
  /*  align-items: center; */
 }
 

.producto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
border: #0056b3 2px solid;
border-radius: 15px;
width: 31%;
overflow: hidden;

}
.producto1 >div {
  background-color: #333;
  overflow: hidden;
}
.producto1 h3 {
  text-align: center;
  width: 100%;
  height: 22%;
  font-size: large;
  padding: .8rem;
  overflow: hidden;
  background-color: #53af49;
}
.producto1 p {
  text-align: center;
  font-size: smaller;
  color: #48bd67;
  padding: .8rem;
}

.producto1 img {
  
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    padding: .9%;
}

.producto1 img:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.botones {
  text-align: center;
  margin: .8rem;
  margin-bottom: 10px;
  overflow: hidden;
   /*  display: flex; 
   overflow: hidden;
   /*  justify-content: space-between; */
   /*  align-items: center; */
   /*  margin-top: 10px; */
   /*  overflow: hidden; */
}

.ver-mas1 {
  font-size: smaller;
    background-color: #007bff;
    color: white;
    
  padding: 1.9rem;
    cursor: pointer;
    border-radius: 89px;
    text-decoration: none;
    font-weight:lighter;
}

.ver-mas1:hover {
    background-color: #0056b3;
}

@media (min-width: 769px)  {
  .cartas {
   
   
   
    }
    .productos1 {
 /*   padding: 5.9rem; */
/*   margin: 5rem; */
  
  
  
  
    
    }
    
   
   .producto1  {
   width: 10%;
   height: 340px;
   background-color: #fff;
   }
   .producto1  >div{
    width: 100%;
  }
  .producto1  img {
    width: 100%;
    height: 100%;
    padding: 1.4rem;
   
    
  }
}






/*  */
/* Estilos para Categorias */



/* ////// CATEGORIAS //////  */


  
  .categorias-container {
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .6rem;
    background-color: #ffffff;
  }
  .categoria-content h3 {
   margin: .8rem;
   padding: 1rem;
  }
  .categoria-content p{
    opacity: .67;
    letter-spacing: .1rem;
    padding: .3rem;
  }
  .categoria-image {
    width: 250px;
    height: auto;
    border-radius: 5px;
  }
    
 
 
  
  .categorias-contenedor {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .categoria-content {
    margin:.6rem;

  }
  .image-container {
    position: relative;
    display: inline-block;
    overflow-x: visible;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: -40px;
  }
  
  .next-btn {
    right: -40px;
  }
  
  .prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  @media (min-width: 768px) {
    .categorias-container {
        display: flex;
        flex-direction: row;
        padding: 1rem;
       
    }
    .categoria-content h3 {
      margin: 1.8rem;
      padding: 1.9rem;
     }
     .categoria-content p{
       opacity: .67;
       letter-spacing: .1rem;
       padding: 1.9rem;
     }
     .categoria-image {
       width: 450px;
       height: auto;
       border-radius: 25px;
     }
    
    
  }





/* Adaptación para pantallas más pequeñas */


  .footer {
    background-color: #333;
    color: #fff;
  /*   padding: 20px 0; */
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  /*   max-width: 1200px; */
  /*   margin: 0 auto; */
  }
  
  .footer-section {
    flex: 1;
   /*  padding: 10px; */
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .social-icons a {
  /*   margin: 0 10px; */
    display: inline-block;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  


 
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

